<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div *ngIf="form.invalid && form.touched" class="alert alert-danger">Form is invalid</div>
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 name="email"
                 #email="ngModel"
                 required
                 ngModel
                 email>
          <span class="text-danger" *ngIf="email.invalid && email.touched">Please enter a valid email</span>
        </div>
        <div class="form-group">
          <label for="subscription">Select Subscription</label>
          <select id="subscription"
                  class="form-control"
                  [ngModel]="defaultSubscription"
                  name="subscription">
            <option value="{{ subscription | lowercase }}" *ngFor="let subscription of subscriptions">{{ subscription }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 name="password"
                 #password="ngModel"
                 required
                 ngModel>
          <span class="text-danger" *ngIf="password.invalid && password.touched">Please enter a password</span>
        </div>

        <button class="btn btn-success" type="submit" [disabled]="form.invalid">Submit</button>
      </form>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
